@use "../../styles/utils/reset";
@use "../../styles/utils/_colors.scss" as c;
@use "../../styles/utils/_fonts.scss" as f;

body {
  background-color: c.$black;
  font-family: f.$roboto;
  width: 100%;
  height: 100%;
}

header {
  padding: 20px 0px 20px 0px;
}

main {
  margin-top: 100px;
  height: calc(100vh - 400px);
  padding: 0px 100px;
}

footer {
  margin-top: 100px;
  padding: 20px 0px 20px 0px;
}
