@use './utils/_reset.scss';
@use './utils/_colors.scss' as c;
@use './utils/_fonts.scss' as f;

:root {
  background-color: c.$black;
  font-family: f.$roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: c.$white;
  font-weight: f.$bold;
}

p {
  color: c.$white;
  font-weight: f.$normal;
}

main {
  margin-top: 200px;
  ;
}