@use "../../styles/utils/_colors" as c;
@use "../../styles/utils/_fonts" as f;
@use "../../styles/utils/_breakpoints" as b;
@use "../../styles/utils/_mixins" as m;

.navigation {
  position: fixed;
  background-color: c.$black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 100;
  @include m.flex-row-sb;
  &__logo {
    font-family: f.$roboto;
    color: #fff;
    img {
      height: 100px;
    }
  }
  &__links {
    margin-right: 20px;
    @include m.flex-row;
    gap: 20px;
    line-height: 100px;
  }
  &__link {
    color: c.$purple;
    font-weight: f.$normal;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
      color: c.$white;
    }
  }
}
